<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-Tally</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand me-4" href="{{url_for('home')}}">Z-Tally</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        {%if current_user.is_authenticated%}
                        <a class="nav-link active" href="{{url_for('profile')}}">{{current_user.username}}</a>
                        <a class="nav-link active" href="{{url_for('profile')}}">仪表盘</a>
                        <a class="nav-link active" href="{{url_for('new_data',opti=2)}}">收入</a>
                        <a class="nav-link active" href="{{url_for('new_data',opti=1)}}">支出</a>
                        <a class="nav-link active" href="{{url_for('logout')}}">登出</a>
                        {%else%}
                        <a class="nav-link active" href="{{url_for('login')}}">登录</a>
                        <a class="nav-link active" href="{{url_for('register')}}">注册</a>
                        {%endif%}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
    
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>